/* import 'tailwindcss/tailwind.css'; */
@tailwind base;
@tailwind component;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #ffffff;
    --color-text-muted: #eee8de;
    --color-text-inverted: #434041;
    /* --color-text-accent-light: #7b9b4a; */
    --color-text-accent-light: #80c904;
    --color-accent-dark: #434041;
    --color-accent-light: #7f8286;
    --color-accent-neutral: #eee8de;
  }
}

* {
  box-sizing: border-box;
}
